* {
    box-sizing: border-box;
}

html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    height: 100%;
}

a,
a:hover,
a:active,
a:link {
    text-decoration: none;
    color: #fff;
}

.btn {
    background-color: #f0f0f0;
    border-radius: 3px;
    background-color: #ecf0f1;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 75px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border: 0;
    cursor: pointer;
}

.btn-info {
    background-color: #4a69bd;
}

.btn-warning {
    background-color: #f6b93b;
}

.btn-success {
    background-color: #78e08f;
}

.btn-error {
    background-color: #eb2f06;
}

.text-bold {
    font-weight: bold;
}