.alg-container {
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    height: 500px;
    width: 100%;
    padding: 10px;

    &__board {
        margin: 25px auto;
        border: 1px solid green;
        display: block;
    }

    &__panel {
        text-align: center;
    }
}

.btn.btn-start {
    background-color: #ff0000;
}