.element-info {
    width: 320px;

    &__item {
        &__label {
            display: inline-block;
            width: 150px;
        }
    }

    &__title {
        display: inline-block;
        font-weight: bold;
        margin-bottom: 10px;
    }
}